* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  background: #36393B;
}

p {
  font-size: 30px;
}

/* onClick flex: .5; */
.nav:hover {
  cursor: pointer;
}

.nav {
  position: relative;
  height: 100vh;
  width: 80px;
  background: #A5D8FF;
  border-radius: 0 0 80px 0;
}

.nav-expanded {
  position: relative;
  width: 380px;
  height: 100vh;
  background: #A5D8FF;
  border-radius: 0 0 80px 0;
}

.nav-menu-x {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 0;
}

.red {
  background: red;
}

.showcase-container-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.book-showcase {
  display: flex;
  height: 400px;
  width: 939px;
  /* max-width: 1200px; */
  background: #A5D8FF;
  border-radius: 50px;
  margin: 20px auto;
}

.left-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  flex: .75;
  background: #E7E5E5;
  border-radius: 50px;
  object-fit: contain;
}

.left-image img {
  height: inherit;
  width: inherit;
  object-fit: contain;
  background-position: center;
}


.book-description-container {
  padding: 50px;
  flex: 1;
}

.book-container {
  height: auto;
  margin: auto;
  margin-top: 0;
  width: auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  background: #A5D8FF;
  border-radius: 40px;
  
}

.book-card {
  height: 220px;
  width: 190px;
  background: #C4C4C4;
  border-radius: 40px;
  margin: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}

.book-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.book-card-image {
  height: inherit;
  width: inherit;
  object-fit: cover;
  background-position: center;
}